@model NewsPortal.Dal.Dtos.PagedResult<NewsPortal.Dal.Dtos.NewsDto>
<div class="row">
    @foreach (var (news, i) in Model.Results.Select((news, i) => (news: news, i: i + 1)))
    {
        <div class="col-md-6">
            <vc:news-details news-dto="news"></vc:news-details>
        </div>
    }
</div>