@using NewsPortal.Bll.Dtos
<div class="card card-body">
    <form id="new-news-form" method="post" asp-controller="News" asp-action="AddNews">
        <h2>Headline of the article:</h2>
        <textarea name="headline" class="html-editor"></textarea>
        <h2>Short version of the article:</h2>
        <textarea name="shortDescription" class="html-editor"></textarea>
        <h2>Full content of the article:</h2>
        <textarea name="body" class="html-editor"></textarea>
        <div class="text-right mt-2">
            <button class="btn btn-default">
                Publish
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        tinymce.init({ selector: '.html-editor' });
    </script>
    <!--<script src="~/lib/signalr/dist/browser/signalr.js"></script>-->
}