@model NewsPortal.Dal.Dtos.CommentDto
<div class="card mb-2" id="comment-@Model.Id">
    <div class="card-header">
        <h3 class="card-title">@Model.User </h3>
        <span class="text-muted">
            @Model.CreationDate.ToLocalTime().ToString("yyyy. MMM dd.hh: mm:ss")</span>

@if(Model.UserId == Model.UserId)
{
        <i class="fas fa-trash-alt delete-comment interactive" data-comment-id="@Model.Id"
           title="Delete Comment"></i>
        }
</div>
<div class="card-body">@Html.Raw(Model.Text)</div>
</div>
