@model NewsPortal.Dal.Dtos.PagedResult<NewsPortal.Dal.Dtos.NewsDto>
@{
    ViewData["Title"] = "Index";
    Dictionary<string, string> queryParams = Context.Request.Query.ToDictionary(q => q.Key, q => q.Value.ToString());
    queryParams.TryAdd("pageNumber", String.Empty);
}
@if (Model.AllResultsCount != null)
{
    <div class="card text-center border-0">
        <div class="card-body">
            <div class="mb-1">
                @Model.AllResultsCount news found
            </div>
            @if ((Model.PageSize ?? 0) != 0)
            {
                var totalPages = (int)Math.Ceiling((double)Model.AllResultsCount.Value / (double)Model.PageSize.Value);
                <nav>
                    <ul class="pagination justify-content-center">
                        @if (Model.PageNumber != 0)
                        {
                            <li class="page-item">
                                @{ queryParams["pageNumber"] = Model.PageNumber.ToString(); }
                                <a asp-all-route-data="queryParams" class="page-link">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (var pageNumber = Math.Max(0, Model.PageNumber.Value - 2); pageNumber < Math.Min(totalPages, Model.PageNumber.Value + 3); pageNumber++)
                        {
                            @if (Model.PageNumber == pageNumber)
                            {
                                <li class="page-item active">
                                    <a class="page-link">
                                        @(pageNumber + 1)
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    @{ queryParams["pageNumber"] = (pageNumber + 1).ToString(); }
                                    <a asp-all-route-data="@queryParams" class="page-link">
                                        @(pageNumber + 1)
                                    </a>
                                </li>
                            }
                        }
                        @if (Model.PageNumber < Math.Ceiling((decimal)(Model.AllResultsCount.Value / Model.PageSize.Value)) - 1)
                        {
                            <li class="page-item">
                                @{ queryParams["pageNumber"] = (Model.PageNumber + 2).ToString(); }
                                <a asp-all-route-data="queryParams" class="page-link">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
}
<vc:news-list news="Model "></vc:news-list>